.landingpage {
    width: 100dvw;
    height: fit-content;
    min-height: 100dvh;
    background-color: #0f0f0f;
}

.landingpage2 {
    width: 100dvw;
    height: fit-content;
    min-height: 100dvh;
    background-color: #0f0f0f;
}

@keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 20s linear infinite;
  }
  