.landingpage {
    width: 100dvw;
    height: fit-content;
    min-height: 90dvh;
}

.marketplace {
    width: 100dvw;
    height: fit-content;
    min-height: 100dvh;
}

.login {
    width: 100dvw;
    height: fit-content;
    min-height: 100dvh;
}